%% -*- mode: erlang; erlang-indent-level: 2 -*-
{erl_opts,    [debug_info, warnings_as_errors]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps,
 [{jiffy,    ".*", {git, "https://github.com/davisp/jiffy.git","0.14.8"}},
  {eleveldb, ".*", {git, "https://github.com/basho/eleveldb.git","2.2.19"}},
  {lhttpc,   ".*", {git, "https://github.com/ferd/lhttpc.git","1.2.9"}},
  {cowboy,   ".*", {git, "https://github.com/ninenines/cowboy.git","1.0.4"}}]}.
